.content {
    display: grid;
    flex-direction: column;
    padding: 0px;
    position: relative;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    margin-bottom: 1px;
}